#app-section {
  display: grid;
  grid-template-columns: 300px 3fr 200px;
  grid-gap: 1rem;
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  #app-section {
    grid-template-columns: 1fr;
  }
}