:root {
  --inter-font: "Inter", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --space-grotesk-font: "Space Grotesk", sans-serif;

  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --accent-color: #3A86FF;
  --tomato-color: #FF6347;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}